 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pic_1-30.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 100px auto 0 71px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1020px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 382px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-1 .u-text-2 {
  margin: 43px 34px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  text-align: left;
  margin: 21px 4px 0 30px;
}

.u-section-1 .u-icon-1 {
  color: currentcolor !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
  width: 16px;
  height: 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}