.conf-title{
    color:#012954;
    font-size: 3.75rem !important;
    font-weight: 800;
}
.conf-place{
    font-size: 2.75rem !important;
    font-weight: 600;
}
.conf-us{
    color:#665280;
    font-size: 3.75rem !important;
    font-weight: 500;
}

@media (max-width: 767px) {
    .conf-title{
        color:#012954;
        font-size: 1.75rem !important;
        font-weight: 600;
    }
    .conf-place{
        font-size: 1.45rem !important;
        font-weight: 600;
    }
    .conf-us{
        color:#665280;
        font-size: 1.75rem !important;
        font-weight: 500;
    }
}